.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.background__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background__overlay {
  position: absolute;
  inset: 0;
}
//
//.app-root--light .background__overlay {
//  background: rgba(0, 0, 0, 0.45);
//}
